* {
    margin: 0;
}

header {
    height: 70px;
}

.top {
    height: 230px;
    background-color: whitesmoke;
    padding: 0 200px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 65px;
}

h5 {
    font-size: 20px;
}

h1 b {
    color: #e30224;
}

.btn-primary {
    background-color: #e30224;
}

.col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 776px) {
    .top {
        height: 115px;
        padding: 0 32px;
    }

    h1 {
        font-size: 27px;
    }

    h5 {
        font-size: 10px;
    }
    
    .containerContatos {
        margin: 0 12px;
    }

}

.card {
    margin: 40px 0;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/*formulario de contato*/

.formularioContato {
    background-color: whitesmoke;

}

.containerContatos {
    display: flex;
    flex-direction: column;
    
    padding: 0 200px;
}