* {
    margin: 0;
}

header {
    height: 70px;
}

.top {
    height: 230px;
    background-color: whitesmoke;
    padding: 0 200px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 65px;
}

h5 {
    font-size: 20px;
}

h1 b {
    color: #e30224;
}

@media (max-width: 766px) {
    #top {
        height: 115px;
        padding: 0 50px;
    }

    h1 {
        font-size: 32px;
    }

    h5 {
        font-size: 10px;
    }
    
}

.card {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*
.equipe {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.linha1, .linha2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
*/