html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mb-4 i{
  transition: all ease-in-out 3s;
}
.mb-4 a:hover{
  top: -3px;
}
.sec a:hover{
  text-decoration: underline;
}
.container{
  padding: 50px;
  background-color: white;

}

.branco{
  background-color: #f5f5f5;
  padding-top: 100%;
}

